@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.form-container {
    flex: 4;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(45deg, #e0e0e0, #ad1257);
    background: linear-gradient(#ad1257, #E0E0E0);
    background: linear-gradient(#d203f9, #ce92d7);
}

.form-container img {
    width: 100%;
}

.form-container h1 {
    color: #fff;
    font-style: italic;
}

.add-form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-control {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px 8px;
    font-size: 18px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 4px;
}

input.invalid {
    border: 2px solid #fffe03;
}

.input-control .error {
    color: #fffe03;
    font-size: 12px;
    font-weight: bold;
    height: 14px;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.submit, .cancel {
    font-size: 16px;
    width: 100%;
    padding: 12px 8px;
    color: #fff;
    border-radius: 4px;
}

.submit {
    background-color: #800f60;
}

.cancel {
    background-color: #ee0000;
}

.submit:hover {
    background-color: #700d54;
}

.cancel:hover {
    background-color: #d40000;
}

.main-container {
    flex: 8;
    height: 100vh;
    padding: 30px;
    background: #ccc;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.search-box {
    width: 100%;
    padding: 12px 8px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 4px;   
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding-right: 10px;
    height: 100vh;
}

/* Firefox */
.list {
    scrollbar-width: auto;
    scrollbar-color: #b968c8 #f1f1f1;
}

/* Chrome, Edge, Safari */
.list::-webkit-scrollbar {
    width: 20px;
}

.list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.list::-webkit-scrollbar-thumb {
    background:#b968c8;
}

.list .item {
    width: 100%;
    background-color: rgba(223, 64, 255, 0.6);
    color: #fff;
    padding: 16px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.list .item-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.list .item-icon {
    display: flex;
}

.list .item-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.list .item-info h4 {
    font-size: 22px;
    color: #fffe03;
    border-bottom: 3px solid #fffa03;
}

.list .item-info span {
    font-size: 14px;
}

.list .item-info div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.item-buttons {
    display: flex;
    gap: 15px;
}

.item-buttons i {
    color: #fffe03;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 15px 0px;
}

.modal-title {
    margin-left: 20px;
}

.modal .close {
    font-size: 20px;
    margin-right: 20px;
}

.modal-body {
    padding: 15px 20px;
}

.edit-form input {
    border: 2px solid #dfdfdf;
    padding: 8px;
}

.edit-form input:focus {
    border: 2px solid #800f60;
}

.buttons {
    display: flex;
    gap: 8px;
}

.buttons button {
    flex: 1;
}

@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
    }
    
    .form-container {
        gap: 10px;
        padding: 15px 0;
    }

    .form-container img {
        display: none;
    }

    .main-container { 
        padding: 14px;
        gap: 15px;
    }

    .list {
        height: 35vh;
    }

    .modal {
        width: 70%;
    }
}